# /etc/systemd/system/banq-riw.service
[Unit]
Description=Run banq-riw.sh

[Service]
ExecStart=/usr/local/bin/banq-riw.sh
StandardOutput=journal
StandardError=journal
MemoryMax=500M
CPUQuota=50%
Type=oneshot
