# /etc/systemd/system/banq-rt@.service
[Unit]
Description=Run banq retwap %I -YP --watch[=86400] | rtw2db
After=network.target

[Service]
EnvironmentFile=/etc/banq/banq.env.mainnet
ExecStartPre=/usr/bin/env bash -c 'IFS="_:"; read T0 T1 O <<< "%I"; /usr/local/bin/banq retwap "$T0" "$T1" --oracle="$O" -YP --watch=86400 | /usr/local/bin/banq-rtw2db.sh /var/lib/banq/rt-%I.db'
ExecStart=/usr/bin/env bash -c 'IFS="_:"; read T0 T1 O <<< "%I"; /usr/local/bin/banq retwap "$T0" "$T1" --oracle="$O" -YP --watch | /usr/local/bin/banq-rtw2db.sh /var/lib/banq/rt-%I.db'
StateDirectory=banq
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
