# /etc/systemd/system/banq-riw.timer
[Unit]
Description=Timer for banq-riw.service
After=network.target

[Timer]
OnCalendar=hourly
RandomizedDelaySec=15s
Persistent=true

[Install]
WantedBy=timers.target
