# /etc/systemd/system/banq-rt@.service
[Unit]
Description=Run banq retwap %I -YP

[Service]
Type=oneshot
WorkingDirectory=/home
EnvironmentFile=/etc/banq/banq.env
ExecStart=/usr/bin/env bash -c 'PAIR=$(echo %I | tr "_" " ") && /usr/local/bin/banq retwap $PAIR -YP'
