# /etc/systemd/system/banq-riw.timer
[Unit]
Description=Timer for banq-riw.service (daily twice at :45)
After=network.target

[Timer]
OnCalendar=06:45,18:45
RandomizedDelaySec=60s
Persistent=true

[Install]
WantedBy=timers.target
