name: Release Tag

on:
  push:
    tags:
      - "v*" # triggers workflow on pushing a tag

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        platform: [linux, macos, mswin]
        arch: [x64, arm64]
        exclude:
          - os: ubuntu-latest
            platform: macos
          - os: ubuntu-latest
            platform: mswin
          - os: macos-latest
            platform: linux
          - os: macos-latest
            platform: mswin
          - os: windows-latest
            platform: linux
          - os: windows-latest
            platform: macos
          - os: windows-latest
            platform: mswin
            arch: arm64

    steps:
      - name: Setup repo
        uses: actions/checkout@v4
      - name: Setup deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.*

      - name: Setup env
        run: cp .env.mainnet .env
      - name: Run install
        run: deno install --node-modules-dir=auto --allow-scripts=npm:usb@2.9.0,npm:node-hid@2.1.2,npm:keccak@3.0.4
      - name: Run linter
        run: deno lint
      - name: Run tests
        run: deno test -A --env=./etc/banq/banq.env.mainnet --env=.env

      - name: Build mainnet artifact(s)
        run: deno run build-banq-${{ matrix.platform }}-${{ matrix.arch }}-mainnet
      - name: Build testnet artifact(s)
        run: deno run build-banq-${{ matrix.platform }}-${{ matrix.arch }}-testnet

      - name: List artifact(s)
        run: ls -R ./dist
      - name: Upload artifact(s)
        uses: actions/upload-artifact@v4
        with:
          name: banq-${{ matrix.platform }}-${{ matrix.arch }}-mainnet
          path: ./dist/banq-mainnet.*
      - name: Upload artifact(s)
        uses: actions/upload-artifact@v4
        with:
          name: banq-${{ matrix.platform }}-${{ matrix.arch }}-testnet
          path: ./dist/banq-testnet.*

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download artifact(s)
        uses: actions/download-artifact@v4
        with:
          path: ./dist
      - name: List artifact(s)
        run: ls -R ./dist

      - name: Install GitHub CLI
        run: sudo apt-get install -y gh
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ github.ref_name }} \
            -t "XPower Banq CLI ${{ github.ref_name }}" \
            -F RELEASE.md ./dist/banq-*/banq-*.*
